:root{
	--bg-color: #192a32;
	--cell-color: #203641;
	--cell-shadow: #0f212b;
	--button-color: #a8bec9;
	--cross-color: #46bab8;
	--circle-color: #f2b236;
}

*,
::after,
::before{
	box-sizing: border-box;
}

body{
	background-color: var(--bg-color);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.game {
	display: grid;
	grid-template-columns: repeat(3, 100px); 
	grid-template-rows: repeat(3, 100px);
	grid-gap: 5px;
	width: 320px;
  }

.cell{
	background-color: var(--cell-color);
	width: 90px;
	height: 90px;
	border-radius: 10px;
	box-shadow: 0 4px 8px var(--cell-shadow); 
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
}

.points-counter{
	display: grid;
	grid-template-columns: repeat(3, 100px); 
	grid-gap: 5px;
	width: 320px;
	margin-top: 15px;
}

.points{
	width: 90px;
	height: 50px;
	border-radius: 10px;
	background-color: var(--button-color);
	color: var(--bg-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.points:first-child{
	background-color: var(--cross-color);
}

.points:last-child{
	background-color: var(--circle-color);
}
